<div id="page-top">
  <header class="d-flex masthead" style="background-image:url('../../../assets/img/bg-masthead.jpg');">
    <div class="container my-auto text-center">
      <h1 class="mb-1">Приведите все в порядок с Todoist</h1>
      <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about">Начать Работу</a>
      <div class="overlay"></div>
    </div>
  </header>
  <section id="about" class="content-section bg-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Разгрузите свой ум!</h2>
          <p class="lead mb-5"><span>Обретите ясность и спокойствие – переместите свои задачи из
            головы в список дел (неважно, где вы и какое устройство используете).</span></p>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="content-section bg-primary text-white text-center">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Сервисы</h3>
        <h2 class="mb-5">Что мы предлагаем</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">store</i></span>
          <h4><strong>Google Play</strong></h4>
          <p class="mb-0 text-faded">Выбор редакции
            рейтинг 4.7, 187+ тыс. отзывов</p>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">shop</i></span>
          <h4><strong>App Store</strong></h4>
          <p class="mb-0 text-faded">Приложение дня
            рейтинг 4.8, 30+ тыс. отзывов</p>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <span class="mx-auto service-icon rounded-circle mb-3"><i class="material-icons">vpn_key</i></span>
          <h4><strong>The Verge</strong></h4>
          <p class="mb-0 text-faded"><span>“Лучший на сегодня список дел
            в приложении”</span><i class="fa fa-heart"></i></p>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-mustache"></i></span>
          <h4><strong>Gulag</strong></h4>
          <p class="mb-0 text-faded">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>
</div>
